aside, article, section, header, footer, nav {
	display: block;
}
div, img {
	margin: 0;
	padding: 0;
}
html{
	margin: 0;
	padding:0;
	background: #DADFE1;

}

body{
	background: #FFFFFF;
	margin:0 auto;
	width:80%;
	font-family: sans-serif;

}
header {
	background: #0B2C3C;
	height: 80px;
	color: #FFFFFF;
}
#rightheader {
	
	float:right;
	padding-top: 20px;
	padding-right:20px;
	font-size: 30px;
	font-weight:lighter;
}
a {
	text-decoration: none;
	color: #FF6666;
	font-size: 35px;

}
a:hover{
	color:#FFFFFF;
}
#title {
	font-weight: lighter;
	font-size: 40px;
	padding-top: 10px;
	padding-left: 20px;
	border-bottom: 5px solid #FF6666;
	width: 600px;
}

.section{
	padding:10px;
	border:7px double #444444 ;
	margin:30px 0 30px 68px ;
	height:600px;
	width:400px;
	float:left;
	
}
.text{
	text-align: center;
	background: ;
	margin: auto ;
	width: 380px;
	clear:both;
	padding-top: 30px;
	border-top: 5px solid #DADFE1;

}
span{
	color: #FF6666;

}

.title{
	color: #FF6666;
	font-size: 25px;
	padding-bottom: 10px ;

}

.author{
	font-size: 20px;
	padding: 4px;
	font-weight: bold;
	color:#444444;

}

.avail {
	font-size: 20px;
	padding: 4px;
	color: green;


}
.list{
	font-size: 20px;
	padding: 4px;
	color:#444444;

}
.price{
	font-size:23px;
	padding: 4px;
	font-style: bold;
	color:#444444;
}
footer {
	background: #0B2C3C;
	height: 80px;
}
.footer {
	color:#FF6666;
	text-align: center;
	margin: auto;
	font-size: 20px;
	font-weight: lighter;
	padding-top:26px;
}

.img {
	float: left;
padding-bottom: 13px;
	margin-top: 20px;
	margin-left: 43px;
}
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}